# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List common libraries used by Data Scientist 
- List common Data Science Tools
- Write sample scripts for evaulating arthmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Scikit Learn

|Data Science Tools|
|-----|
|Apache Spark|
|RStudio|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
print(200 / 60, "hours")

3.3333333333333335 hours

## Author
Orly Revalo